
.hero{
   width: 100%;
   height: 90vh;
   overflow: hidden;
   margin-top: 10vh;

}

.media{
   width: 100%;
}

.hero-home{
   height:50px;
  
}

.home{
   position:absolute;
  top:30vh;
  left:20vh; 
  width: 100%;
  z-index: 2; 
 }

 
 .page{
   margin-top: 40vh;
   margin-left: 30vh;

 }

 .page-home{
   float:right;
   margin-right:50vh;
   width: 50vh;
   height: 43vh;
 }

 