.p-0{
    background-image: url(/public/Assets/images.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 95vh;
}

.p-1{
 margin-left: 20vh;
 margin-top: 10vh;
}

.side-image{
    margin-top: 50vh;
}

.image-1{
    width: 151px;
    height: 35vh;
}